[submodule "virup/thirdparty/libplanet"]
	path = virup/thirdparty/libplanet
	url = https://gitlab.com/Dexter9313/libplanet.git
[submodule "virup/thirdparty/libcolorgradient"]
	path = virup/thirdparty/libcolorgradient
	url = https://gitlab.com/Dexter9313/libcolorgradient.git
[submodule "virup/thirdparty/libterrain"]
	path = virup/thirdparty/libterrain
	url = https://gitlab.com/Dexter9313/libterrain.git
